pre.source
{
	border: 1px solid gold;
	background: #ffffd8;
	padding: 5px 8px;
	
	font-family: Verdana;
	
	font-size: 11px;
}

table
{
	margin-bottom: 10px;
}

p.comment
{
	border: 1px solid gold;
	background: #ffffd8;
	padding: 5px 8px;
}

p.false
{
	background-color: #ffeeee; 
	border: 1px solid red;
	padding: 5px 8px;
}

p.true
{
	background-color: #eeffff; 
	border: 1px solid green;
	padding: 5px 8px;
}


/* Forms */
label
{
	display: block;
}

input
{
	display: block;
}

button
{
	display: block;
}

input, button
{
	border: 1px solid gray;
	background: white;
	margin-top: 2px;
	padding: 2px 5px;
}

fieldset
{
	padding: 5px;
}

table
{
	font-size: 11px;
	border: 1px solid gold;
	width: 100%;
}

td, th
{
	padding: 2px;
}

.center
{
	text-align: center;
}

.left
{
	text-align: left;
}

#general-information
{
	width: 48%;
	float: left;
	clear: both;
}

#servers
{
	width: 50%;
	float: right;
}

.playnow
{
	font-size: 14px;
}

#screenshots
{
	clear: both;
}

#screenshots td
{
	text-align: center;
}

a img
{
	border: 1px solid gray;
	padding: 2px;
}

img.logo
{
	float: left;
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid gray;
}

#idselector_button
{
	height: 20px;
}

#idselector_button button,
#idselector_button input
{
	float: left;
	clear: none;
	margin-right: 5px;
}

#idselector_button input
{
	font-family: Verdana;
	font-size: 11px;
	padding: 4px;
	width: 200px;
	height: 14px;
	margin-top: 2px;
}

#login_button
{
	padding: 2px 5px;
}

.sort_az,
.sort_za
{
	background-image:url('../images/bullet_arrow_down.png');
	background-position: -4px -1px;
	width: 7px;
	height: 14px;
	float: right;
	margin-left: 1px;
}

.sort_za
{
	background-image:url('../images/bullet_arrow_up.png');
}

.sort_az.active
{
	background-image:url('../images/bullet_arrow_down_red.png');
}

.sort_za.active
{
	background-image:url('../images/bullet_arrow_up_red.png');
}

table#gamelist th span
{
	display: block;
}

table#gamelist th.center span
{
	display: block;
	padding-left: 15px;
}

table#gamelist th .sort_az span,
table#gamelist th .sort_za span
{
	display: none;
}

input.filter
{
	width: 90%;
	background: none;
	text-align: center;
	padding: 2px;
}

a.filter
{
	color: #444;
}
