html
{
	font-size: 12px;
	font-family: Verdana;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

body
{
	background: #eeeeee;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#container
{
	width: 800px;
	margin: 0px auto;
	border: 1px solid gray;
	background: white;
	padding: 10px;
}

#navigation
{
	float: left;
	width: 20%;
}

#navigation ul
{
	list-style-type: none;
	padding: 0px 10px;
	margin-top: 8px;
}

#navigation ul li
{
	padding-bottom: 10px;
}

a
{
	color: blue;
}

#content
{
	float: left;
	width: 80%;
}

h1
{
	margin-top: 0px;
	text-align: center;
	font-size: 35px;
}

h2, h3
{
	margin-bottom: 0px;
	margin: 6px 0px;
}

p
{
	padding: 0px;
	margin: 8px 0px;
	line-height: 160%;
}

pre.source
{
	border: 1px solid gold;
	background: #ffffd8;
	padding: 5px 8px;
	
	font-size: 11px;
}

p.comment
{
	border: 1px solid gold;
	background: #ffffd8;
	padding: 5px 8px;
}

p.false
{
	background-color: #ffeeee; 
	border: 1px solid red;
	padding: 5px 8px;
}

p.true
{
	background-color: #eeffff; 
	border: 1px solid green;
	padding: 5px 8px;
}


/* Forms */
label
{
	display: block;
}

input
{
	display: block;
}

button
{
	display: block;
}

table
{
	font-size: 11px;
	border: 1px solid gold;
	width: 100%;
}

.center
{
	text-align: center;
}

.left
{
	text-align: left;
}
