pre.source
{
	border: 1px solid gold;
	background: #ffffd8;
	padding: 5px 8px;
	
	font-size: 11px;
}

table
{
	margin-bottom: 10px;
}

p.comment
{
	border: 1px solid gold;
	background: #ffffd8;
	padding: 5px 8px;
}

p.false
{
	background-color: #ffeeee; 
	border: 1px solid red;
	padding: 5px 8px;
}

p.true
{
	background-color: #eeffff; 
	border: 1px solid green;
	padding: 5px 8px;
}


/* Forms */
label
{
	display: block;
}

input
{
	display: block;
}

button
{
	display: block;
}

fieldset
{
	padding: 5px;
}

table
{
	font-size: 12px;
	border: 1px solid gold;
	width: 100%;
}

td, th
{
	padding: 2px;
}

.center
{
	text-align: center;
}

.left
{
	text-align: left;
}

#general-information
{
	width: 48%;
	float: left;
	clear: both;
}

#servers
{
	width: 50%;
	float: right;
}

.playnow
{
	font-size: 14px;
}

#screenshots
{
	clear: both;
}

#screenshots td
{
	text-align: center;
}

a img
{
	border: 1px solid gray;
	padding: 2px;
}

img.logo
{
	float: left;
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid gray;
}
